<ion-view view-title="{{testing}}" title="Login">
  <div class="bar bar-header bar-positive">
    <h1 class="title">Register</h1>
  </div>
  <ion-content class="has-header padding" scroll="true" overflow-scroll="true">

    <form name="registerationForm">
      <div class="list">
        <label class="item item-input">
          <span class = "input-label">First Name</span>
         <input type = "text" placeholder = "enter first name" required />
        </label>

        <label class="item item-input">
          <span class = "input-label">Last Name</span>
          <input type = "text" placeholder = "enter last name" required/>
        </label>
        <label class="item item-input">
          <span class = "input-label">Email</span>
          <input type = "email" placeholder = "enter email" required/>
        </label>
        <label class="item item-input">
            <span class = "input-label">Address</span>
            <input type = "email" placeholder = "enter address" required/>
          </label>
      </div>
      <button class="button button-full button-positive" type="submit">
          Sign In
        </button>
    </form>
  </ion-content>
</ion-view>